<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="cloudFolderBackupGroup">
      <section name="cloudFolderBackup"
               type="RedBadger.CloudFolderBackup.Configuration.CloudFolderBackupSection, RedBadger.CloudFolderBackup" />
    </sectionGroup>
  </configSections>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>

  <cloudFolderBackupGroup>
    <cloudFolderBackup>
      <credentials username="" apiKey="" />
      <operation sourceFolderPath="" destinationContainer="" />
    </cloudFolderBackup>
  </cloudFolderBackupGroup>
</configuration>
